@import "~bootstrap/scss/bootstrap";
@import "./variables";
@import "./mixins";

header {
    background-color: rgb(23, 23, 23);
    margin: auto;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: whitesmoke;
        padding: 25px 0;

        h1 {
            color: orange;
        }

        ul {
            list-style: none;
            display: flex;
            
            li {
                padding: 0 15px;

                a {
                    text-decoration: none;
                    color: whitesmoke;
                    font-size: 1.1rem;

                    &:hover{
                        color: orange;
                    }
                }
            }
        }
    }
}